* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 17px;
  background-color: #000 !important;
  color: #fff;
}
a {
  text-decoration: none !important;
  color: #fff;
}
.rightArrow {
  margin-left: 10px;
}
@media(max-width: 768px) {
  /* ******* Header */
  .transform100 {
    transform: translate(100%);
  }
  .transform0 {
    transform: translate(0);
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  /* ******* Header */
  .transform100 {
    transform: translate(100%);
  }
  .transform0 {
    transform: translate(0);
  }
}
